@import 'tailwindcss';

@theme {
  /* Definimos los colores de los tipos */
  --color-type-fire: #f08030;
  --color-type-water: #6890f0;
  --color-type-grass: #78c850;
  --color-type-electric: #f8d030;
  --color-type-ice: #98d8d8;
  --color-type-fighting: #c03028;
  --color-type-poison: #a040a0;
  --color-type-ground: #e0c068;
  --color-type-flying: #a890f0;
  --color-type-psychic: #f85888;
  --color-type-bug: #a8b820;
  --color-type-rock: #b8a038;
  --color-type-ghost: #705898;
  --color-type-dragon: #7038f8;
  --color-type-steel: #b8b8d0;
  --color-type-fairy: #ee99ac;
  --color-type-normal: #a8a878;
}

.icon-mask {
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  background-color: currentColor;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme {
  --breakpoint-xs: 375px;
  --breakpoint-2xs: 320px;

  --animate-skeleton-appear: skeleton-appear 0.5s ease-in forwards;
  --animate-fade-in: fade-in 0.5s ease-out forwards;

  @keyframes skeleton-appear {
    0% {
      opacity: 0;
    }
    1% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: 'Inter', sans-serif;
  --font-rajdhani: 'Rajdhani', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  width: 100% !important;
}

.bg-pattern {
  background-image: radial-gradient(#ffffff26 1px, transparent 1px);
  background-size: 24px 24px;
}

button {
  cursor: pointer;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 10px;
  border: 1px solid transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #bef264;
}
