@import 'tailwindcss';

@theme {
  /* Definimos los colores de los tipos */
  --color-type-fire: #f08030;
  --color-type-water: #6890f0;
  --color-type-grass: #78c850;
  --color-type-electric: #f8d030;
  --color-type-ice: #98d8d8;
  --color-type-fighting: #c03028;
  --color-type-poison: #a040a0;
  --color-type-ground: #e0c068;
  --color-type-flying: #a890f0;
  --color-type-psychic: #f85888;
  --color-type-bug: #a8b820;
  --color-type-rock: #b8a038;
  --color-type-ghost: #705898;
  --color-type-dragon: #7038f8;
  --color-type-steel: #b8b8d0;
  --color-type-fairy: #ee99ac;
  --color-type-normal: #a8a878;
}

.icon-mask {
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  background-color: currentColor;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: 'Inter', sans-serif;
  --font-rajdhani: 'Rajdhani', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
